:root {
    --clr-nav-text: rgb(3 46 14);
    --clr-text: rgb(3 46 14);
    --clr-logo-text: rgb(229 88 4);
    --clr-background: rgba(253, 253, 253, 0.85);
    --header-logo-text-size: 22px;
    --heder-logo-text-font: 'Rubik', sans-serif;
    --main-text-font: 'Lora', serif;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

input,
textarea {
    outline: none
}

main {
    margin-top: 3rem;
}